*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1F1E1E;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 15px;
}

.header__top-num {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.header__top-text {
  font-weight: 700;
}

.header__top-phone {
  background-color: #886239;
  border-radius: 22px;
  padding: 12px 31px;
  margin-left: 24px;
}

.header__menu {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.header__menu-list {
  display: flex;
  justify-content: space-around;
}

.header__menu-list {
  margin-top: 27px;
  margin-bottom: 24px;
}

.header__menu-item {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__inner {
  position: relative;
}

.header__content {
  height: 87vh;
}

.header__content-title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 117px;
  text-align: center;
  padding-top: 50px;
}

.header__content-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  max-width: 422px;
}

.header__content-box {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__content-btn {
  line-height: 21px;
  color: #FFFFFF;
  padding: 19px 54px;
  background-color: #886239;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 74px;
}

.header__arrow-btn {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: transparent;
  margin-bottom: 15px;
}

.direction {
  margin-bottom: 100px;
  margin-top: 100px;
}

.direction__inner {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.direction__item {
  border: 1px solid #D9D9DE;
  border-top: none;
}

.direction__img {
  display: block;
}

.direction__title {
  font-size: 16px;
  line-height: 19px;
  padding: 12px 19px 19px;
}

.maindirections {
  background-image: url(../images/maindirections-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #886239;
  height: 582px;
  color: #FFFFFF;
  margin-bottom: 100px;
}

.maindirections__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 52px;
}

.maindirections__box-title {
  font-size: 16px;
  line-height: 21px;
  padding-top: 15px;
}

.maindirections__box {
  display: grid;
  gap: 56px 74px;
  grid-template-columns: repeat(4, 1fr);
}

.maindirections__box-img {
  width: 85px;
  height: 85px;
}

.offers__items {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding-bottom: 82px;
  border-bottom: 1px solid #D9D9DE;
  margin-bottom: 100px;
}

.offers__title-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.offers__link {
  padding: 16px 24px 19px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 256px;
  line-height:21px;
}

.offers__title {
  font-weight: 500;
  line-height: 23px;
}

.offers__title--big {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 15px;
}

.offers__country,
.offers__duration  {
  font-size: 16px;
  margin-bottom: 15px;
}

.offers__price {
  font-weight: 700;
  font-size: 16px;
  margin-top: auto;
}

.offers__link:nth-child(3),
.offers__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.map {
  margin-bottom: 100px;
}

.map__title {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  line-height: 47px;
  margin-bottom: 46px;
}

.tours {
  margin-bottom: 100px;
}

.tours__inner {
  display: grid;
  grid-template-columns: 448px 640px;
  gap: 32px;
}

.tours__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 25px;
}

.tours__descr {
  max-width: 448px;
  line-height: 25px;
  padding-bottom: 34px;
}

.tours__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #C4C4C4;
}

.tours__popup {
  background-image: url(../images/video-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photogallery {
  background-color: #886239;
  margin-bottom: 100px;
  color: #FFFFFF;
}

.photogallery__top {
  padding-top: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photogallery__top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.navigation__slider-left {
  margin-right: 16px;
}

.photogallery__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
}

.photogallery__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}
