*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1F1E1E;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 16px;
  margin-bottom: 15px;
}

.header__top-num {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.header__top-text {
  font-weight: 700;
}

.header__top-phone {
  background-color: #886239;
  border-radius: 22px;
  padding: 12px 31px;
  margin-left: 24px;
}

.header__menu {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.header__menu-list {
  display: flex;
  justify-content: space-around;
}

.header__menu-list {
  margin-top: 27px;
  margin-bottom: 24px;
}

.header__menu-item {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__inner {
  position: relative;
}

.header__content {
  height: 85vh;
}

.header__content-title {
  font-family: 'PT Serif', sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 117px;
  text-align: center;
  padding-top: 50px;
}

.header__content-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  max-width: 422px;
}

.header__content-box {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__content-btn {
  line-height: 21px;
  color: #FFFFFF;
  padding: 19px 54px;
  background-color: #886239;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 74px;
}

.header__arrow-btn {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: transparent;
  margin-bottom: 15px;
}

.direction {
  margin-bottom: 100px;
  margin-top: 100px;
}

.direction__inner {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.direction__item {
  border: 1px solid #D9D9DE;
  border-top: none;
}

.direction__img {
  display: block;
}

.direction__title {
  font-size: 16px;
  line-height: 19px;
  padding: 12px 19px 19px;
}

.maindirections {
  background-image: url(../images/maindirections-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #886239;
  height: 582px;
  color: #FFFFFF;
  margin-bottom: 100px;
}

.maindirections__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 52px;
}

.maindirections__box-title {
  font-size: 16px;
  line-height: 21px;
  padding-top: 15px;
}

.maindirections__box {
  display: grid;
  gap: 56px 74px;
  grid-template-columns: repeat(4, 1fr);
}

.maindirections__box-img {
  width: 85px;
  height: 85px;
}

.offers__items {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding-bottom: 82px;
  border-bottom: 1px solid #D9D9DE;
  margin-bottom: 100px;
}

.offers__title-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.offers__link {
  padding: 16px 24px 19px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 256px;
  line-height:21px;
}

.offers__title {
  font-weight: 500;
  line-height: 23px;
}

.offers__title--big {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 15px;
}

.offers__country,
.offers__duration  {
  font-size: 16px;
  margin-bottom: 15px;
}

.offers__price {
  font-weight: 700;
  font-size: 16px;
  margin-top: auto;
}

.offers__link:nth-child(3),
.offers__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.map {
  margin-bottom: 100px;
}

.map__title {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  line-height: 47px;
  margin-bottom: 46px;
}

.tours {
  margin-bottom: 100px;
}

.tours__inner {
  display: grid;
  grid-template-columns: 448px 640px;
  gap: 32px;
}

.tours__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 25px;
}

.tours__descr {
  max-width: 448px;
  line-height: 25px;
  padding-bottom: 34px;
}

.tours__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #C4C4C4;
}

.tours__popup {
  background-image: url(../images/video-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photogallery {
  background-color: #886239;
  margin-bottom: 100px;
  color: #FFFFFF;
}

.photogallery__top {
  padding-top: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 160px;
}

.photogallery__slider {
  padding-bottom: 105px;
}

.photogallery__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
}

.photogallery__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}

.photogallery__item-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}

.slick-prev {
  right: 60px;
}

.info {
  margin-bottom: 100px;
  line-height: 25px;
}

.info__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 77px;
}

.info__descr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px;
  border-bottom: 1px solid #D9D9DE;
  padding-bottom: 65px;
}

.info__descr-text span {
  font-weight: 700;
  text-transform: uppercase;
}

.info__descr-text {
  padding-bottom: 40px;
}

.info__statistics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
  margin-top: 44px;
}

.info__statistics-number {
  font-family: 'PT Serif', sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 75px;
  color: #886239;
  text-align: center;
}

.info__statistics-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.info__statistics-itemBig {
  min-width: 277px;
}

.booking {
  padding: 75px 0;
  background-color: #EAEAEA;
}

.booking__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 832px;
  margin: 0 auto;
}

.booking__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 43px;
}

.booking__input,
.booking__textarea {
  width: 256px;
  height: 44px;
  border: 1px solid #D9D9DE;
  margin-bottom: 28px;
  padding: 11px 14px 12px;
}

.booking__input::placeholder,
.booking__textarea::placeholder {
  color: #C4C4C4;
  font-size: 16px;
  line-height: 21px;
}

.booking__textarea {
  width: 100%;
  margin-bottom: 67px;
  border: 1px solid #D9D9DE;
  resize: none;
  height: 112px;
}

.booking__btn {
  padding: 19px 65px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #886239;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.booking__label {
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
}

/* hidden default checkbox  */
.booking__ckeckbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}

/* create a new checkbox */
.booking__ckeckbox-style {
  width: 26px;
  height: 26px;
  border: 2px solid #C4C4C4;
  border-radius: 2px;
  position: absolute;
  margin-left: -45px;
}

/* create a box element for checked state with background-color */
.booking__ckeckbox:checked + .booking__ckeckbox-style::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: #1F1E1E;
  padding: 77px 0 81px 0;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
}

.footer__logo {
  margin-bottom: 70px;
  text-align: center;
}

.logo-img {
  margin: 0 auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin: 0 auto;
}

.footer__content-title {
  font-weight: 500;
  margin-bottom: 7px;
}

.footer__link {
  text-decoration-line: underline;
}

.footer__address {
  width: 165px;
}

.footer__copy,
.footer__address-text,
.footer__phone,
.footer__email {
  opacity: 0.8;
  margin-bottom: 3px;
}

.footer__email {
  display: block;
}

.menu__btn {
  display: none;
}

@media (max-width: 1180px) {
  .direction__inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .direction__img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header__top-text {
    display: none;
  }
  .header__content-text {
    color: #FFFFFF;
  }
}

@media (max-width: 560px) {
  .header__content-title {
    font-size: 50px;
    line-height: 70px;
    padding-top: 30px;
  }
  .menu__btn {
    display: inline-block;
    width: 40px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 107px;
  }
  .menu__btn::after,
  .menu__btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #FFFFFF;
  }
  .menu__btn::after {
    bottom: 0;
  }
  .menu__btn::before {
    top: 0;
  }
  .menu__btn span {
    display: block;
    height: 2px;
    background-color: #FFFFFF;
  }
  .header__menu-list {
    transform: translateY(-200%);
    display: block;
    background-color: #886239;
    padding: 10px 0;
    transition: all .5s;
    position: absolute;
    left: 0;
    right: 0;
  }
  .header__menu-list.header__menu-list--active {
    transform: translateY(0%);
  }
  .header__menu-item {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .header__top-num {
    margin-left: 0px;
  }
  .header__top-phone {
    margin-left: 0;
  }
  .header__menu {
    border: none;
  }
  .direction {
    margin: 50px 0;
  }
  .direction__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .direction__img {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header__content-title {
    font-size: 30px;
    line-height: 16px;
  }
  .header__content-text {
    font-size: 16px;
    line-height: 22px;
  }
}
