html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Corporate-A-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
       url('../fonts/Corporate-A-Bold.woff') format('woff');
}

body {
  /* background-color: #070A1B; */
  background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 120%;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;  
}

.header {
  margin-top: 29px;
  background-color: #070A1B
} 

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo {
  margin-left: 115px;
}

.list {
  display: flex;
}

.list__item + .list__item {
  padding-left: 30px;
}

.list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background .3s;
}

.list__link:hover {
  background-color: #C1A1D2;
}

.header {
  margin-bottom: 150px;
}

.header__content {
  background-image: url(../images/header_background.png);
  min-height: calc(100vh - 129px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header__content::before {
  content: '';
  background-image: url(../images/logo_header_content.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* 50% of the height */
  bottom: -25px;
}

.title {
  font-family: 'Corporate-A-Bold';
  font-size: 72px;
  line-height: 120%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  margin-bottom: 5px;
}

.title-descr {
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.concept {
  margin-bottom: 150px;
}

.concept__inner {
  max-width: 900px;
  margin-left: auto;
}

.concept__title,
.premier__title,
.interior__title {
  font-family: 'Corporate A-Bold';
  font-weight: 700;
  font-size: 18px;
  color: #F402A2;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.concept__descr {
  font-size: 24px;
  margin-bottom: 25px;
  line-height: 120%;
}

.concept-img {
  max-width: 900px;
  object-fit: cover;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.footer {
  background-color: #070A1B
}

.premier {
  margin-bottom: 150px;
}

.premier__inner {
  display: flex;
  gap: 60px;
}

.premier__text {
  margin-bottom: 15px;
}

.premier-btn {
  text-transform: uppercase;
  font-family: 'Corporate A-Bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #F402A2;
  border: 1px solid #F402A2;
  padding: 14px;
}

.premier-btn:hover,
.video__btn:hover {
  color: #53A1CB;
  border: 1px solid #53A1CB;
}

.premier__descr {
  display: flex;
  flex-direction: column;
  flex-basis: 570px;
}

.premier-img {
  margin-bottom: 25px;
}

.premier__img-text {
  margin-top: 21px;
}

.video {
  margin-bottom: 150px;
}

.video__img {
  margin-bottom: 25px;
}

.video__btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  gap: 10px;
  font-family: 'Corporate A-Bold';
  color: #F402A2;
  font-size: 18px;
  line-height: 120%;
  padding: 14px;
  text-transform: uppercase;
  border: 1px solid #F402A2;
  transition: all .3s;
}

.video__btn span {
  padding-top: 2px;
}

.video__btn path {
  transition: all .3s;
}

.video__btn:hover path {
  fill: #53A1CB;
}

.design__interior {
  display: grid;
  grid-template-columns: 255px 255px auto 330px;
  grid-template-rows: auto auto;
  gap: 14px 44px;
  margin-bottom: 100px;
}

.design__cell-one {
  grid-row: 1/3;
}

.design__cell-two {
  grid-row-end: -1;
  align-self: flex-end;
}

.design__cell-two .design__cell-text, 
.design__cell-one .design__cell-text:last-child{
  margin-bottom: 0;
}

.design__cell-three {
  grid-row-end: -1;
  grid-column-end: -1;
  align-self: flex-end;
}

.design__cell-text {
  margin-bottom: 15px;
}

/* add space between images, must be 60px */
.design-slider__item {
  margin: 0 30px;
}

/* move slider track on -40px to the left */
.slick-track {
  margin-left: -40px;
}

.design-slider {
  padding-bottom: 25px;
}

.arrow {
  position: absolute;
  z-index: 10;
  bottom: 0;
  cursor: pointer;
  left: 50%;
}

.arrow-left {
  transform: translateX(-90px);
}

.arrow-right {
  transform: translateX(20px);
}

.design__box {
  display: flex;
  max-width: 590px;
  margin: 150px auto;
  padding: 0 10px;
  gap: 60px;
}

.design__box-column {
  width: 255px;
}

.design__box-text {
  margin-bottom: 15px;
}
