*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  border-radius: 30px;
  cursor: pointer;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Section Header */

.header {
  max-height: 100vh;
  padding-top: 40px;
  position: relative;
  margin-bottom: 150px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.content-item {
  display: none;
}

.content-item--active {
  display: inline-block;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
 }

.menu__btn {
  background-color: #000;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 58px;
}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
  z-index: -2;
}

.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
}

.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translateY(60px);
}

.title--m {
  display: inline-block;
  transform: translate(-57px, 275px);
}

.title--ax {
  display: inline-block;
  transform: translate(-135px, 410px);
  z-index: -1;
  position: relative;
}

/* Section Colorchoice */

.colorchoice {
  padding: 45px 0 180px;
  text-align: center;
}

.colorchoice__title {
  font-size: 36px;
  font-weight: 700;
  margin: 0 auto 20px;
  max-width: 555px;
}

.colorchoice__text {
  max-width: 555px;
  margin: 0 auto 80px;
}

.colorchoice__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.colorchoice-btn {
  border-radius: 20px;
  border: 1px solid #777;
  background: rgba(217, 217, 217, 0.00);
  padding: 50px 55px;
}

.colorchoice-btn--active {
  display: none;
}

/* Section Composition */

.composition {
  text-align: center;
  padding-bottom: 180px;
}

.main__title {
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 20px;
}

.composition__title {

}

.composition__text {
  max-width: 650px;
  margin: 0 auto 40px;
}

.composition__content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 625px;
  margin: 0 auto;
}

.composition__content-text {
  max-width: 230px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Section Case */

.case {
  background-color: #FAFAFA;
  text-align: center;
  padding: 80px 0 100px;
}

.case__text {
  max-width: 825px;
  margin: 0 auto 40px;
}

.energy__num {
  font-size: 210px;
  font-weight: 700;
  padding-bottom: 40px;
}

.energy__text {
  max-width: 400px;
  margin: 0 auto;
}

.energy__title {
  padding-top: 160px;
}

/* Section audio */

.audio {
  /* position: relative; */
  /* padding-bottom: 30vh; */
  background-image: url(../images/audio_full.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; 
}

/* .audio::before {
  content: '';
  background-image: url(../images/audio_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.audio::after {
  content: '';
  position: absolute;
  background-image: url(../images/sound.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  bottom: -135px;
  height: 150vh;
  right: 0;
  left: 0;
  z-index: -1;
} */

.audio__inner {
  min-height: 265vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.audio__box {
  color: #FFF;
  text-align: center;
  padding-bottom: 50vh;
}

.audio__text {
  width: 300px;
  margin-bottom: 15px;
}

.audio__btn {
  color: #000;
  padding: 15px 58px;
  background-color: #FFF;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

/* Section Footer */

.footer {
  /* position: relative;
  z-index: -2; */
  color: #FFF;
  text-align: center;
  font-weight: 700;
  padding: 50px 0 40px;
  background-color: #000;
}

.footer__text {
  padding: 20px 0;
}

.footer__list {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 80px;
  flex-wrap: wrap;
}

@media (max-width: 1469px) {
  .colorchoice__list {
    flex-wrap: wrap;
  }
  .header__content-images img {
    max-width: 100%;
  }
  .title {
    font-size: 180px;
    transform: translate(129px, 29px);
  }
}

@media (max-width: 1349px) {
  .title {
    transform: none;
    text-align: center;
    font-size: 140px;
    padding-top: 16vh;
    right: 0;
    left: 0;
  }
  .title--pod {
    z-index: 1;
  }
  .title--s {
    transform: none;
  }
  .title--m {
    transform: none;
  }
  .title--ax {
    transform: none;
  }
}

@media (max-width: 900px) {
  .title {
    position: relative;
    font-size: 100px;
    padding-top: 30px;
  }
  .title--m {
    padding-left: 15px;
  }
  .audio__inner {
    min-height: 120vh;
  }
  .audio__box {
    padding-bottom: 15vh;
  }
}

@media (max-width: 768px) {
  .colorchoice,
  .composition {
    padding-bottom: 60px;
  }
  .colorchoice__list {
    gap: 16px;
  }
  .colorchoice-btn {
    padding: 35px;
  }
  .main__title {
    font-size: 36px;
  }
  .colorchoice__text {
    margin-bottom: 40px;
  }
  .case {
    padding: 60px 0;
  }
  .case__img {
    padding-bottom: 60px;
  }
  .energy__num {
    font-size: 110px;
    padding-bottom: 20px;
  }
  .title {
    font-size: 58px;
  }
  .header__content-images {
    padding-bottom: 0;
  }
  .header {
    margin-bottom: 60px;
  }
}

@media (max-width: 560px) {
  .composition__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .composition__content-text {
    max-width: 100%;
    gap: 15px;
  }
  .menu__list {
    flex-wrap: wrap;
    gap: 20px 40px;
  }
  .menu__item-btn {
    margin-left: auto;
  }
  .menu__item-btn button {
    width: 250px;
  }
  .menu__item:first-child {
    margin-left: auto;
  }
  .header__top {
    align-items: flex-start;
  }
  .audio__inner {
    min-height: 150vh;
  }
  .audio__box {
    padding-bottom: 30vh;
  }
}

@media (max-width: 414px) {
  .main__title,
  .colorchoice__title {
    font-size: 28px;
  }
  .energy__num {
    font-size: 90px;
  }
  .case__img {
    max-width: 100%;
  }
}

@media (max-width: 404px) {
  .title {
    font-size: 50px;
  }
}
