*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #131313;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
  transition: all .3s;
}

.menu__link:hover {
  color: white;
  background-color: #131313;
}

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 75px 0 5px;
  /* margin-top: 169px; */
}

.bike__subtitle {
  font-weight: 400;
  color: #6F6F6F;
  font-size: 32px;
  line-height: 39px;
  margin:0 0 60px;
}

.bike__text {
  margin-bottom: 20px;
  max-width: 420px;
}

.bike__link {
  /* because the link - inline element, for paddings a block element is needed */
  display: inline-block;
  width: 420px;
  height: 80px;
  background-color: #131313;
  color: #fff;
  margin-top: 80px;
  padding: 28px 81px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
}

.bike__slider .slick-dots{
  right: 0;
  top: 52px
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.slick-active button, 
.slick-dots button:hover {
  background-color: #FF4040;
}

.bike__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.bike__list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 40px;
}

.bike__list-num {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-top: 13px;
  margin: auto 0;
}

.info {
  height: 1053px;
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
}

.info__img {
  flex-basis: 570px;
  height: 1053px;
  margin-right: 60px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.info__item-text {
  margin: 0 0;
  line-height: 17px;
  max-width: 450px;
}

.characteristics {
  height: 789px;
  margin-bottom: 150px;
}

.characteristics__inner {
  display: flex;
  justify-content: space-between;
}

.characteristics__title {
  line-height: 19px;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin: 0 0;
}

.characteristics__table {
  width: 570px;
  height: 681px;
}

.characteristics__table thead {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #131313;
  text-align: left;
}

.characteristics__table td {
  width: 50%;
}

.characteristics__table__tr-space > td {
  padding-bottom: 32px;
}

.characteristics__table__tr-space_first > td {
  padding-top: 10px;
}

.characteristics__image {
  flex-basis: 570px;
  max-width: 570px;
  height: 401px;
  margin-left: 60px;
  align-self: center;
  border-radius: 0px 0px 200.5px 0px;
}

.slider {
  margin-bottom: 50px;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;
}

.slider__item {
  padding-left: 50px;
}

.price {
  height: 403px;
  margin-bottom: 100px;
}

.form {
  max-width: 420px;
}

.form__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 19px;
  font-size: 16px;
  margin-bottom: 41px;
}

.form__text {
  margin-bottom: 30px;
  max-width: 300px;
}

.form__input-name,
.form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__text-grey {
  color: #6F6F6F;
  opacity: 0.5;
}

.form__text-grey {
  margin-top: 20px;
}

.form__label-box {
  display: flex;
  margin-bottom: 50px;
}

.form__label + .form__label {
  margin-left: 23px;
}

.form__input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0 );
}

.form__input-radio:checked + .form__bike {
  display: block;
}

.form__bike {
  display: none;
}

.form__radio-style {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  margin-top: 10px;
}

.form__radio-style--grey {
  background: #6F6F6F;
}

.form__radio-style--white {
  background-color: #fff;
  border: 1px solid #6F6F6F;
}

.form__radio-style--red {
  background-color: #FF4040;
}

.form__btn {
  width: 420px;
  height: 80px;
  margin-bottom: 100px;
  background: #131313;
  border: 1px solid #131313;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  cursor: pointer;
}
