*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #131313;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
  transition: all .3s;
}

.menu__link:hover {
  color: white;
  background-color: #131313;
}

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 75px 0 5px;
  /* margin-top: 169px; */
}

.bike__subtitle {
  font-weight: 400;
  color: #6F6F6F;
  font-size: 32px;
  line-height: 39px;
  margin:0 0 60px;
}

.bike__text {
  margin-bottom: 20px;
  max-width: 420px;
}

.bike__link {
  /* because the link - inline element, for paddings a block element is needed */
  display: inline-block;
  width: 420px;
  height: 80px;
  background-color: #131313;
  color: #fff;
  margin-top: 80px;
  padding: 28px 81px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
}

.bike__slider .slick-dots{
  right: 0;
  top: 52px
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.slick-active button, 
.slick-dots button:hover {
  background-color: #FF4040;
}

.bike__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.bike__list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 40px;
}

.bike__list-num {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-top: 13px;
  margin: auto 0;
}

.info {
  height: 1053px;
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
}

.info__img {
  flex-basis: 570px;
  height: 1053px;
  margin-right: 60px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.info__item-text {
  margin: 0 0;
  line-height: 17px;
  max-width: 450px;
}

.characteristics {
  margin-bottom: 150px;
}

.characteristics__head {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.characteristics__inner {
  display: flex;
}

.characteristics__items {
  flex-basis: 570px;
  margin-right: 60px;
}

.characteristics__img {
  align-self: center;
}

.characteristics__list + .characteristics__list {
  padding-top: 30px;
}

.characteristics__title {
  font-weight: 700;
  padding: 2px 0 3px;
  text-transform: uppercase;
  background-color: #131313;
  color: #fff; 
}

.characteristics__line {
  display: flex;
  padding-top: 5px;
}

.characteristics__name {
  flex-basis: 285px;
  padding-right: 20px;
}

.characteristics__descr {
  flex-basis: 285px;
}
