body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

#site_wrap {
  background-color: white;
  display: grid;
  grid-template-columns: 
    1fr 
    repeat(4, minmax(0, 272px))
    1fr;
  grid-gap: 5px;
  grid-template-rows: 104px 215px min-content 373px 1fr;
  grid-template-areas: 
  ". header header header header ."
  "featured_header featured_header featured_header featured_header featured_header featured_header"
  ". featured_main featured_main featured_main featured_profile ."
  ". content content content content ."
  "footer footer footer footer footer footer";
}

.header {
  background-color: white;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 105px;
}

.header .nav_menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.header .nav_menu a {
  text-decoration: none;
  border: 1px solid #f2ab9b;
  border-radius: 50em;
  color: #f2ab9b;
  padding: 15px 30px;
  margin: 0 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.header .nav_menu a:hover,.header .nav_menu .active {
  background-color: #f2ab9b;
  color: white;
}

.featured_header {
  background-image: url("imgs/featured_image.jpg");
  grid-area: featured_header;
  background-size:contain;
}

.featured_main {
  grid-area: featured_main;
}

.featured_main h1 {
  color: #707070
}

.featured_main p {
  color: #707070;
}

.featured_main_btn {
  text-decoration: none;
  background-color: #5a8c87;
  border: 1px solid #5a8c87;
  border-radius: 50em;
  color: white;
  padding: 15px 30px;
  margin: 0 8px;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
}

.featured_profile {
  padding: 2em 1em;
  grid-area: featured_profile;
}

.featured_profile .profile_image {
  max-width: 100%;
  max-height: 100%;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: space-between;
}

.content .content_image {
  margin: 0 5px 2em 5px;
}

.footer {
  background-color: rgb(90, 167, 83);
  grid-area: footer;
}

@media screen and (max-width:480px) {
  #site_wrap {
    grid-template-areas: 
    "header header header header header header"
    "featured_header featured_header featured_header featured_header featured_header featured_header"
    "featured_main featured_main featured_main featured_main featured_main featured_main"
    "content content content content content content"
    "footer footer footer footer footer footer";
  } 
  .featured_profile {
    display: none;
  }
}
